# Uplink and Downlink values are in kbps
UPLINK=1000
DOWNLINK=85000

# SQM recipe to use. For more information, see /usr/lib/sqm/*.help
SCRIPT=simple.qos

# Optional/advanced config

#ENABLED=1
#QDISC=fq_codel

#LLAM=tc_stab
#LINKLAYER=none
#OVERHEAD=0
#STAB_MTU=2047
#STAB_TSIZE=512
#STAB_MPU=0

#ILIMIT=
#ELIMIT=
#ITARGET=
#ETARGET=

# ECN ingress resp. egress. Values are ECN or NOECN.
#IECN=ECN
#EECN=ECN

# Extra qdisc options ingress resp. egress
#IQDISC_OPTS=""
#EQDISC_OPTS=""

# CoDel target
#TARGET=5ms

#SQUASH_DSCP=1
#SQUASH_INGRESS=1

