[Unit]
Description=SQM scripts for iface %i
Wants=network.target
Before=network.target
BindsTo=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device

[Service]
Type=oneshot
EnvironmentFile="/etc/sqm/sqm-%i.conf"
Environment="IFACE=%i ENABLED=1"
ExecStart=/usr/lib/sqm/start-sqm %i
ExecStop=/usr/lib/sqm/stop-sqm %i

[Install]
WantedBy=multi-user.target
