[Unit]
Description=SQM scripts for iface %i
Wants=network-online.target
After=network-online.target
BindsTo=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device

[Service]
Type=oneshot
EnvironmentFile=/etc/sqm/default.conf
EnvironmentFile=-/etc/sqm/%I.iface.conf
Environment=IFACE=%I ENABLED=1
ExecStart=/usr/lib/sqm/start-sqm
ExecStop=/usr/lib/sqm/stop-sqm
RemainAfterExit=1

[Install]
WantedBy=sys-subsystem-net-devices-%i.device
